<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <script src="https://unpkg.com/vue@2.7.8/dist/vue.js"></script>
    <link rel="stylesheet" href="styles/style.css" />
    <script
      src="https://kit.fontawesome.com/2d6490a2b6.js"
      crossorigin="anonymous"
    ></script>
    <script src="js/lessons.js"></script>
    <script src="js/scroll.js"></script>
    <title>After School Lessons</title>
  </head>
  <body>
    <div id="app">
      <div id="navbar">
        <h2>After School Lessons</h2>
      </div>
      <div class="main">
        <div class="sidebar"></div>
        <div class="content">
          <div class="lesson_card" v-for="lesson in lessons" :key="lesson.id">
            <div class="lesson_card_head">
              <div class="lesson_img">
                <p class="space_string">{{lesson.spaces}} spaces left</p>
                <img :src="lesson.image" :alt="lesson.subject" srcset="" />
              </div>
              <div class="lesson_card_main">
                <p class="location_string">
                  <i class="fa-solid fa-location-dot"></i> {{lesson.location}}
                </p>
                <p class="subject_string">
                  <i class="fa-solid fa-book"></i> {{lesson.subject}}
                </p>
              </div>
            </div>
            <div class="lesson_card_bait">
              <div class="bait_left">
                <span
                  class="rating_string"
                  v-for="star in 5"
                  :key="star"
                  class="star"
                  style="color: gold;"
                >
                  <i class="fa-bounce" :class="star <= lesson.rating ? 'fas fa-star' : 'far fa-star' " style="--fa-bounce-rebound: 3px; --fa-bounce-start-scale-x: 1; --fa-bounce-start-scale-y: 1"></i>
                </span>
                <p class="price_string"><span>USD</span> {{lesson.price}}</p>
              </div>
              <div class="bait_right">
                <button class="add_to_cart_btn">Add to Cart</button>
              </div>
            </div>
          </div>
        </div>
      </div>
    </div>
  </body>
  <script>
    var app = new Vue({
      el: "#app",
      data: {
        lessons: lessonArray,
      },
      methods: {},
    });
  </script>
</html>
