<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8"/>
    <meta name="viewport" content="width=device-width, initial-scale=1.0"/>
    <script src="https://unpkg.com/vue@2.7.8/dist/vue.js"></script>
    <link rel="stylesheet" href="styles/style.css"/>
    <script
            src="https://kit.fontawesome.com/2d6490a2b6.js"
            crossorigin="anonymous"
    ></script>
    <script src="js/scroll.js"></script>
    <title>Lessonini</title>
</head>
<body>
<div id="app">
    <div id="navbar">
        <div class="nav_left">
            <h2 @click="showLessons = true">Lessonini</h2>
            <div class="search_bar">
                <input type="text" name="search_bar_input" id="search_bar" v-model="searchString" placeholder="search">
                <button type="submit"><i class="fa-solid fa-search" @click="searchToUrl"></i></button>
                <div class="searchDropDown">
                    <div class="search_result" v-for="lesson in searchResults" :key="lesson.id">
                        <p class="search_suggestion"
                           v-if="!displayedValues.has(getKeyValue(lesson, findKeyOfValue(searchResults, capitalizeFirstLetter(searchString))))"
                           @click="()=>{
                                searchString=getKeyValue(lesson, findKeyOfValue(searchResults, capitalizeFirstLetter(searchString)))
                           }"
                        >
                            <span>{{findKeyOfValue(searchResults, capitalizeFirstLetter(searchString))}} |</span>
                            {{getKeyValue(lesson, findKeyOfValue(searchResults, capitalizeFirstLetter(searchString)))}}
                            {{ displayedValues.add(getKeyValue(lesson, findKeyOfValue(searchResults, capitalizeFirstLetter(searchString)))) && ''
                            }}
                        </p>
                    </div>
                </div>
            </div>
        </div>
        <div class="nav_right">
            <button @click="()=> page == 'home' ? goToCheckOut() : goToHome()"
                    :class="page == 'home' ? 'checkout_btn' : 'back_home_btn' "
                    :disabled="isDisabledBackButton">Cart
            </button>
        </div>
    </div>
    <div id="home" v-if="showLessons">
        <div class="page">

        </div>
        <div class="hero">
            <h1 class="hero_title">
                Lessonini
            </h1>
            <!--            <image style="order: 0" src="./assets/5569459.jpg"></image>-->
        </div>
        <div class="main">
            <div class="sidebar">
                <div class="sort_section">
                    <h1>
                        Sort
                    </h1>
                    <div class="sort_option">
                        <label for="ascending_price_sort">Sort by price (low - high)</label>
                        <input type="radio" name="sort_btn" id="ascending_price_sort" @click="()=>{
                    this.updateAllSortingOptions()
                    this.sortOptions.ascendingByPrice = true;
                    sortLessons();
                    }">
                    </div>

                    </br>

                    <div class="sort_option">
                        <label for="descending_price_sort">Sort by price (high - low)</label>
                        <input type="radio" name="sort_btn" id="descending_price_sort" @click="()=>{
                        this.updateAllSortingOptions()
                        this.sortOptions.descendingByPrice = true;
                        sortLessons();
                    }">
                    </div>

                    </br>

                    <div class="sort_option">
                        <label for="ascending_location_sort">Sort by location (a - z)</label>
                        <input type="radio" name="sort_btn" id="ascending_location_sort" @click="()=>{
                        this.updateAllSortingOptions()
                        this.sortOptions.ascendingByLocation = true;
                        sortLessons();
                    }">
                    </div>

                    </br>

                    <div class="sort_option">
                        <label for="descending_location_sort">Sort by location (z - a)</label>
                        <input type="radio" name="sort_btn" id="descending_location_sort" @click="()=>{
                        this.updateAllSortingOptions()
                        this.sortOptions.descendingByLocation = true;
                        sortLessons();
                    }">
                    </div>

                    </br>

                    <div class="sort_option">
                        <label for="ascending_subject_sort">Sort by subject (a - z)</label>
                        <input type="radio" name="sort_btn" id="ascending_subject_sort" @click="()=>{
                        this.updateAllSortingOptions()
                        this.sortOptions.ascendingBySubject = true;
                        sortLessons();
                    }">
                    </div>

                    </br>

                    <div class="sort_option">
                        <label for="descending_subject_sort">Sort by subject (z - a)</label>
                        <input type="radio" name="sort_btn" id="descending_subject_sort" @click="()=>{
                        this.updateAllSortingOptions()
                        this.sortOptions.descendingBySubject = true;
                        sortLessons();
                    }">
                    </div>

                    </br>

                    <div class="sort_option">
                        <label for="ascending_spaces_sort">Sort by spaces (low - high)</label>
                        <input type="radio" name="sort_btn" id="ascending_spaces_sort" @click="()=>{
                        this.updateAllSortingOptions()
                        this.sortOptions.ascendingBySpaces = true;
                        sortLessons();
                    }">
                    </div>

                    </br>

                    <div class="sort_option">
                        <label for="descending_spaces_sort">Sort by spaces (high - low)</label>
                        <input type="radio" name="sort_btn" id="descending_spaces_sort" @click="()=>{
                    this.updateAllSortingOptions()
                    this.sortOptions.descendingBySpaces = true;
                    sortLessons();
                }">
                    </div>

                </div>
            </div>
            <div class="content">
                <div class="lesson_card" v-for="lesson in lessons" :key="lesson.id">
                    <div class="lesson_card_head">
                        <div class="lesson_img">
                            <div class="lesson_spaces_div">
                                <div class="blurred-background"></div>
                                <p class="space_string">{{lesson.spaces}} spaces left</p>
                            </div>
                            <img :src="fetchLessonImages(lesson.image)" :alt="lesson.subject" srcset=""/>
                        </div>
                        <div class="lesson_card_main">
                            <p class="location_string">
                                <i class="fa-solid fa-location-dot"></i> {{lesson.location}}
                            </p>
                            <p class="subject_string">
                                <i class="fa-solid fa-book"></i> {{lesson.subject}}
                            </p>
                        </div>
                    </div>
                    <div class="lesson_card_bait">
                        <div class="bait_left">
                            <span
                                    class="rating_string"
                                    v-for="star in 5"
                                    :key="star"
                                    class="star"
                                    style="color: gold;"
                            >
                              <i class="fa-bounce" :class="star <= lesson.rating ? 'fas fa-star' : 'far fa-star' "
                                 style="--fa-bounce-rebound: 3px; --fa-bounce-start-scale-x: 1; --fa-bounce-start-scale-y: 1"></i>
                            </span>
                            <p class="price_string"><span class="fa-dollar"><i></i></span>&#163 {{lesson.price}}</p>
                        </div>
                        <div class="bait_right">
                            <button :disabled="lesson.spaces == 0 ? true : false" class="add_to_cart_btn"
                                    @click="addToCart(lessons.indexOf(lesson))">Add to Cart
                            </button>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
    <div id="home" v-else-if="!showLessons && showSearchResults">
        <div class="page">

        </div>
        <div class="hero">
            <h1 class="hero_title">
                Lessonini
            </h1>
        </div>
        <div class="main">
            <div class="sidebar">
                <h1>
                    Sort
                </h1>
                <label for="ascending_price_sort">Sort by price (low - high)</label>
                <input type="radio" name="sort_btn" id="ascending_price_sort" @click="()=>{
                    this.updateAllSortingOptions()
                    this.sortOptions.ascendingByPrice = true;
                    sortLessons();
                }">
                </br>
                <label for="descending_price_sort">Sort by price (high - low)</label>
                <input type="radio" name="sort_btn" id="descending_price_sort" @click="()=>{
                    this.updateAllSortingOptions()
                    this.sortOptions.descendingByPrice = true;
                    sortLessons();
                }">
                </br>
                <label for="ascending_location_sort">Sort by location (a - z)</label>
                <input type="radio" name="sort_btn" id="ascending_location_sort" @click="()=>{
                    this.updateAllSortingOptions()
                    this.sortOptions.ascendingByLocation = true;
                    sortLessons();
                }">
                </br>
                <label for="descending_location_sort">Sort by location (z - a)</label>
                <input type="radio" name="sort_btn" id="descending_location_sort" @click="()=>{
                    this.updateAllSortingOptions()
                    this.sortOptions.descendingByLocation = true;
                    sortLessons();
                }">
                </br>
                <label for="ascending_subject_sort">Sort by subject (a - z)</label>
                <input type="radio" name="sort_btn" id="ascending_subject_sort" @click="()=>{
                    this.updateAllSortingOptions()
                    this.sortOptions.ascendingBySubject = true;
                    sortLessons();
                }">
                </br>
                <label for="descending_subject_sort">Sort by subject (z - a)</label>
                <input type="radio" name="sort_btn" id="descending_subject_sort" @click="()=>{
                    this.updateAllSortingOptions()
                    this.sortOptions.descendingBySubject = true;
                    sortLessons();
                }">
                </br>
                <label for="ascending_spaces_sort">Sort by spaces (low - high)</label>
                <input type="radio" name="sort_btn" id="ascending_spaces_sort" @click="()=>{
                    this.updateAllSortingOptions()
                    this.sortOptions.ascendingBySpaces = true;
                    sortLessons();
                }">
                </br>
                <label for="descending_spaces_sort">Sort by spaces (high - low)</label>
                <input type="radio" name="sort_btn" id="descending_spaces_sort" @click="()=>{
                    this.updateAllSortingOptions()
                    this.sortOptions.descendingBySpaces = true;
                    sortLessons();
                }">
            </div>
            <div class="content">
                <div class="lesson_card" v-for="lesson in searchResults" :key="lesson.id">
                    <div class="lesson_card_head">
                        <div class="lesson_img">
                            <div class="lesson_spaces_div">
                                <div class="blurred-background"></div>
                                <p class="space_string">{{lesson.spaces}} spaces left</p>
                            </div>
                            <img :src="fetchLessonImages(lesson.image)" :alt="lesson.subject" srcset=""/>
                        </div>
                        <div class="lesson_card_main">
                            <p class="location_string">
                                <i class="fa-solid fa-location-dot"></i> {{lesson.location}}
                            </p>
                            <p class="subject_string">
                                <i class="fa-solid fa-book"></i> {{lesson.subject}}
                            </p>
                        </div>
                    </div>
                    <div class="lesson_card_bait">
                        <div class="bait_left">
                            <span
                                    class="rating_string"
                                    v-for="star in 5"
                                    :key="star"
                                    class="star"
                                    style="color: gold;"
                            >
                              <i class="fa-bounce" :class="star <= lesson.rating ? 'fas fa-star' : 'far fa-star' "
                                 style="--fa-bounce-rebound: 3px; --fa-bounce-start-scale-x: 1; --fa-bounce-start-scale-y: 1"></i>
                            </span>
                            <p class="price_string"><span class="fa-dollar"><i></i></span>&#163 {{lesson.price}}</p>
                        </div>
                        <div class="bait_right">
                            <button :disabled="lesson.spaces == 0 ? true : false" class="add_to_cart_btn"
                                    @click="addToCart(lessons.indexOf(lesson))">Add to Cart
                            </button>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
    <div id="checkout_page" v-else-if="!showLessons">
        <div class="cart_main">
            <h1 class="cart_header">Your Cart</h1>
            <div class="cart_content">
                <div class="order_ticket" v-for="lesson in cart" :key="lesson.id">
                    <div class="order_ticket_number">1</div>
                    <div class="order_ticket_img">
                        <img :src="fetchLessonImages(lesson.image)" :alt="lesson.subject" srcset=""/>
                    </div>
                    <div class="order_ticket_main">
                        <div class="order_ticket_bio">
                            <p class="order_ticket_name">{{lesson.subject}}</p>
                            <p class="order_ticket_desc">
                                {{lesson.description}}
                            </p>
                            <p class="order_ticket_booked_spaces">{{lesson.bookedSpaces}}</p>
                        </div>
                        <div class="order_ticket_bottom">
                            <div class="order_ticket_price"><i class="fa-dollar"></i><span>&#163 {{lesson.price}}</span></div>
                            <button class="order_ticket_remove_btn red_simple_btn" @click="removeFromCart(lesson.id)">
                                Remove
                            </button>
                        </div>
                    </div>
                </div>
            </div>
        </div>
        <div class="cart_details">
            <form id="orderForm"></form>
            <div class="receiver_information_section cart_details_card">
                <h3>Your Details</h3>
                <div class="input_div">
                    <label for="receiver_name">Name</label>
                    <input id="receiver_name" name="user_name" form="orderForm" v-model="nameField">
                </div>
                <div class="input_div">
                    <label for="receiver_email">Email</label>
                    <input id="receiver_email" type="email" name="user_email" form="orderForm" v-model="emailField">
                </div>
                <div class="input_div">
                    <label for="receiver_phone">Phone</label>
                    <input id="receiver_phone" type="tel" name="user_phone" form="orderForm" v-model="phoneField">
                </div>
            </div>
            <div class="promo_section cart_details_card">
                <h3>Promo Code</h3>
                <p class="promo_terms">
                    Lorem iIOveiuiya svukiyvcviy ivvyiSc i c, utcejg aycvacaiyavc< iyvae. aeilyva iylca ckaeiya
                </p>
                <div class="input_div">
                    <label for="promo_code_input">Promo Code</label>
                    <input id="promo_code_input" name="promo_code" form="orderForm">
                </div>
            </div>
            <div class="cart_summary_section cart_details_card">
                <h3>Cart Total</h3>
                <p class="cart_subtotal">Subtotal <span>{{calculateTotalPrice()}}</span></p>
                <p class="cart_discount">Discount -<span>500</span></p>
                <div class="cart_summary_section_bottom">
                    <p class="cart_total">Cart Total <span>{{calculateTotalPrice() - 500}}</span></p>
                    <button class="cart_proceed_btn" type="button" @click="postOrder"
                            :disabled="isDisabledProceedButton">Proceed
                    </button>
                </div>
            </div>
        </div>
    </div>
</div>
</body>
<script src="js/vue.js"></script>
</html>
