:root {
    font-size: 16px;
    --color_primary: rgb(79, 79, 207);
    --color_primary-dark: rgb(59, 59, 166);
    --color_sub_text: #8a8a8a;
    --color_subtle_bg: #c5ccd6;
    --color_disbled_bg: #767878;
}

body {
    font-family: 'Lucida Sans', 'Lucida Sans Regular', 'Lucida Grande', 'Lucida Sans Unicode', Geneva, Verdana, sans-serif;
}

#navbar {
    width: 100%;
    height: 80px;
    position: fixed;
    top: 0px;
    left: 0px;
    padding: 0px 70px 0px 70px;
    box-sizing: border-box;
    display: flex;
    align-items: center;
    /* box-shadow: 0px 3px 10px rgb(0, 0, 0, 50%); */
    background-color: white;
    z-index: 100;
    justify-content: space-between;
}

.search_bar {
    width: max-content;
}

.search_bar input {
    width: 360px;
}

.searchDropDown {
    margin-top: 8px;
    width: 360px;
    height: max-content;
    max-height: 300px;
    background-color: white;
    position: absolute;
    padding-left: 5px;
    padding-right: 5px;
    box-sizing: border-box;
    box-shadow: 0px 2px 5px rgb(0, 0, 0, 50%);
    border-radius: 5px;
}

.search_result {
    border-radius: 5px;
    padding: 0 4px 0 4px;
    box-sizing: border-box;
}

.search_result:hover {
    background-color: rgb(240, 240, 240);
    cursor: pointer;
}

.searchDropDown .search_result:first-child {
    margin-top: 3px;
}

.search_suggestion {
    margin: 0 0 3px 0;
}

.search_suggestion {
    font-weight: bold;
}

.search_suggestion span {
    font-weight: lighter;
    margin-right: 8px;
}

.nav_left {
    display: flex;
    align-items: center;
    justify-content: space-between;
    width: 650px;
}

.hero {
    width: 100%;
    background-image: url("../assets/background-img.jpg");
    background-size: cover;
    background-position: center;
    object-fit: cover;
    height: 400px;
    position: absolute;
    top: 80px;
    left: 0px;
    padding: 0px 70px 0px 70px;
    box-sizing: border-box;
}

.hero img {
    object-fit: cover;
    width: 100%;
    height: 100%;
}

.hero_title {
    color: var(--color_primary);
}

.navbar_shadow_class {
    box-shadow: 0px 3px 10px rgb(0, 0, 0, 50%);
}

#navbar h2 {
    margin: 0px;
}

#navbar h2:hover {
    cursor: pointer;
}

.lesson_img {
    width: 100%;
    height: 150px;
    position: relative;
    border: 1px solid black;
    border-radius: 5px;
    background-color: white;
    overflow: hidden;
}

.lesson_img img {
    object-fit: cover;
    width: 100%;
    height: 100%;
}

.lesson_spaces_div {
    position: absolute;
    right: 0px;
    top: 5px;
    width: 120px;
    height: 20px;
    background-color: rgba(255, 255, 255, 0.7);
    display: flex;
    align-items: center;
    justify-content: end;
    z-index: 5;
    padding-right: 3px;
    box-sizing: border-box;
}

.blurred-background {
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    background-color: inherit;
    filter: blur(5px);
    z-index: 1;
}

.subject_string {
    position: relative;
    bottom: 0px;
    font-weight: bold;
    font-size: 1rem;
    margin: 0px 0px 16px 0px !important;
}

.location_string {
    font-size: 0.8rem;
    margin: 8px 0px 4px 0px !important;
}

.space_string {
    margin: 0px !important;
    font-size: 0.9rem;
    z-index: 1;
}

.add_to_cart_btn, .checkout_btn, .back_home_btn {
    height: 36px;
    border: 1px solid black;
    border-radius: 5px;
    background-color: var(--color_primary);
    font-size: 1.2rem;
    color: white;
    cursor: pointer;
}

.add_to_cart_btn:active, .checkout_btn:active, .back_home_btn:active {
    background-color: var(--color_primary-dark);
}

.checkout_btn:disabled, .back_home_btn:disabled, .cart_proceed_btn:disabled {
    background-color: var(--color_disbled_bg);
    cursor: not-allowed;
}

.add_to_cart_btn:hover, .checkout_btn:hover, .cart_proceed_btn:hover {
    cursor: pointer;
}

.add_to_cart_btn:disabled {
    background-color: var(--color_disbled_bg);
    cursor: not-allowed;
}

.lesson_card_head {
    border: 1px solid black;
    border-radius: 5px;
    padding: 5px 10px 0px 10px;
    background-color: white;
}

.lesson_card_main {
    width: 100%;
}

.lesson_card_bait {
    margin: 10px 0px 0px 0px;
    padding: 0px 10px 0px 10px;
    display: flex;
    align-items: center;
    justify-content: space-between;
}

.lesson_card {
    /* background-color: blue; */
    height: max-content;
    box-sizing: border-box;
    transition: transform 0.1s ease-in-out;
}

.lesson_card:hover {
    transform: scale(1.01);
}

.lesson_card p {
    margin: 3px 0px 3px 0px;
}

.main {
    display: grid;
    grid-template-columns: 20% 79%;
    gap: 1%;
    width: 100%;
    position: absolute;
    top: 480px;
    left: 0px;
    height: 100%;
    padding: 0px 70px 0px 70px;
    box-sizing: border-box;
}

.sidebar {
    height: 100%;
    top: 0px;
    left: 0px;
}

.sort_section {
    width: 100%;
}

.sort_option {
    width: 100%;
    display: flex;
    justify-content: space-between;
}

.content {
    display: grid;
    grid-template-columns: repeat(3, 1fr);
    grid-template-rows: auto max-content;
    gap: 10px;
    margin-top: 24px;
}

#checkout_page {
    width: 100%;
    height: max-content;
    min-height: 1000px;
    background-color: #c5ccd6;
    position: absolute;
    top: 80px;
    left: 0px;
    padding: 0px 70px 0px 70px;
    box-sizing: border-box;
    display: flex;
    justify-content: space-between;
    align-items: start;
}

.cart_header {
    margin: 24px 0px 48px 0px;
}

.cart_main {
    width: 820px;
    height: max-content;
    min-height: 400px;
    padding: 0px 36px 0px 0px;
    box-sizing: border-box;
}

.cart_details {
    width: calc(100% - 960px);
    height: 720px;
    position: fixed;
    top: 80px;
    right: 70px;
    padding: 24px 0px 0px 24px;
    box-sizing: border-box;
    /*border-left: 1px solid rgba(0, 0, 0, 80%);*/
}

.cart_details_card {
    background-color: white;
    padding: 10px;
    box-sizing: border-box;
    margin: 0px 0px 10px 0px;
    border-radius: 10px;
    box-shadow: 0px 3px 10px rgb(0, 0, 0, 0.2);
}

.cart_summary_section {
    color: white;
    background-color: var(--color_primary);
}

.cart_summary_section p {
    font-size: 0.8rem;
}

.cart_summary_section_bottom {
    display: flex;
    justify-content: space-between;
    align-items: center;
    height: max-content;
}

.cart_summary_section_bottom p {
    font-weight: bold;
}

.cart_summary_section_bottom p span {
    font-size: 1rem;
    font-weight: normal;
}

.cart_proceed_btn {
    font-size: 1rem;
    font-weight: bold;
    height: 36px;
    width: 84px;
    border: none;
    border-radius: 10px;
    padding: 0px;
}

.cart_proceed_btn:active {
    background-color: var(--color_primary-dark);
}

.cart_details h3 {
    margin: 0px 0px 8px 0px;
}

.cart_details::before {
    content: '';
    position: absolute;
    left: 0;
    top: 24px; /* Adjust the top position to shorten the border */
    bottom: 144px; /* Adjust the bottom position to shorten the border */
    width: 2px; /* Border width */
    background-color: rgba(0, 0, 0, 10%);
}

.cart_content {
    background-color: white;
    width: 100%;
    min-height: 300px;
    height: max-content;
    border-radius: 30px;
    padding: 24px;
    box-sizing: border-box;
    box-shadow: 0px 3px 10px rgb(0, 0, 0, 0.2);
}

.order_ticket {
    width: 100%;
    max-height: max-content;
    height: 204px;
    border-bottom: black solid 1px;
    display: flex;
    align-items: flex-start;
    margin-bottom: 24px;
}

.order_ticket_number {
    position: relative;
    top: 0px;
    left: 0px;
    display: inline-block;
    margin-right: 16px;
}

.order_ticket_img {
    width: 180px;
    height: 180px;
    display: inline-block;
    margin-right: 64px;
    border-radius: 30px;
    overflow: hidden;
}

.order_ticket_img img {
    object-fit: cover;
    width: 100%;
    height: 100%;
}

.order_ticket_name {
    margin: 0px 0px 16px 0px;
    font-size: 1.2rem;
}

.order_ticket_desc {
    font-size: 1rem;
    color: var(--color_sub_text);
}

.order_ticket_main {
    height: 100%;
    max-width: max-content;
    width: 50%;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
}

.order_ticket_bottom {
    display: flex;
    align-items: center;
    justify-content: space-between;
    margin-bottom: 24px;
}

.order_ticket_price {
    font-size: 1.2rem;
    font-weight: bold;
}

.red_simple_btn {
    background-color: #9f0000;
    color: white;
    border: none;
    height: 36px;
    width: 85px;
    border-radius: 9px;
    font-size: 1rem;
}

.red_simple_btn:hover {
    cursor: pointer;
}

.input_div {
    height: 36px;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    margin-bottom: 16px;
}

.input_div label {
    font-size: 0.8rem;
}

.input_div input {
    font-size: 1rem;
    border: none;
    border-bottom: 1px solid black;
    background-color: transparent;
}

.input_div input:focus {
    border: none;
    outline: none;
    border-bottom: 1px solid black;
}

.promo_terms {
    font-size: 0.8rem;
    color: var(--color_sub_text);
}