:root {
    font-size: 16px;
    --color_primary: rgb(79, 79, 207);
}

body {
    font-family: 'Lucida Sans', 'Lucida Sans Regular', 'Lucida Grande', 'Lucida Sans Unicode', Geneva, Verdana, sans-serif;
}

#navbar {
    width: 100%;
    height: 80px;
    position: fixed;
    top: 0px;
    left: 0px;
    padding: 0px 70px 0px 70px;
    box-sizing: border-box;
    display: flex;
    align-items: center;
    /* box-shadow: 0px 3px 10px rgb(0, 0, 0, 50%); */
    background-color: white;
    z-index: 100;
}

.hero {
    width: 100%;
    background-color: red;
    height: 100px;
    position: absolute;
    top: 80px;
    left: 0px;
}

.navbar_shadow_class {
    box-shadow: 0px 3px 10px rgb(0, 0, 0, 50%);
}

#navbar h2 {
    margin: 0px;
}

.lesson_img {
    width: 100%;
    height: 150px;
    position: relative;
    border: 1px solid black;
    border-radius: 5px;
    background-color: white;
}

.lesson_img img {
    object-fit: cover;
    width: 100%;
    height: 100%;
}

.subject_string {
    position: relative;
    bottom: 0px;
    font-weight: bold;
    font-size: 1rem;
    margin: 0px 0px 16px 0px !important;
}

.location_string {
    font-size: 0.8rem;
    margin: 8px 0px 4px 0px !important;
}

.space_string {
    position: absolute;
    right: 3px;
    top: 5px;
    margin: 0px !important;
    font-size: 0.8rem;
}

.add_to_cart_btn {
    height: 36px;
    border: 1px solid black;
    border-radius: 5px;
    background-color: var(--color_primary);
    font-size: 1.2rem;
    color: white;
    /* cursor: pointer; */
}

.add_to_cart_btn:hover {
    cursor: pointer;
}

.lesson_card_head {
    border: 1px solid black;
    border-radius: 5px;
    padding: 5px 10px 0px 10px;
    background-color: white;
}

.lesson_card_main {
    width: 100%;
}

.lesson_card_bait {
    margin: 10px 0px 0px 0px;
    padding: 0px 10px 0px 10px;
    display: flex;
    align-items: center;
    justify-content: space-between;
}

.lesson_card {
    /* background-color: blue; */
    height: max-content;
    box-sizing: border-box;
}

.lesson_card p {
    margin: 3px 0px 3px 0px;
}

.main {
    display: grid;
    grid-template-columns: 20% 79% ;
    gap: 1%;
    width: 100%;
    position: absolute;
    top: 180px;
    left: 0px;
    height: 100%;
    padding: 0px 70px 0px 70px;
    box-sizing: border-box;
}

.sidebar {
    height: 100%;
    top: 0px;
    left: 0px;
}

.content {
    display: grid;
    grid-template-columns: repeat(3, 1fr);
    grid-template-rows: auto max-content;
    gap: 10px;
    /* margin-right: 70px; */
}